#table th, #table td {
  padding: 0;
}

table {
  width: 100%;

  th {
    text-align: unset;
    color: $color-primary;
  }

  th > div {
    font-weight: 700;
  }
  
  th > div,
  td > div {
    display: flex;
    align-items: center;
    min-height: 60px;
    padding: 0 10px;
    font-size: 16px;
  }
}