#table th,
#table td {
  padding: 0;
}

table {
  width: 100%;

  th {
    text-align: unset;
    color: $color-primary;
  }

  th > div {
    font-weight: 700;
  }

  th > div,
  td > div {
    display: flex;
    align-items: center;
    min-height: 60px;
    padding: 0 10px;
    font-size: 16px;
  }
}
.MuiTableCell-root {
  border-right: 1px solid rgba(224, 224, 224, 1);
  padding: 10px !important;
  span {
    color: #147db8 !important;
    font-weight: bold;
  }
}
