.c-table {
  thead {
    th {
      text-transform: capitalize;
    }
  }

  th,
  td {
    &.sticky {
      position: sticky;
      &.left {
        left: 0;
      }
      &.right {
        right: 0;
      }
    }
  }
  .bg-white {
    background-color: white;
  }

  &.c-tab-panel {
    // border-collapse: collapse;
    margin-top: -10px; //Bỏ đi khoảng spacing trên table

    thead {
      height: 50px;

      tr {
        border-radius: 0;
      }
    }

    td {
      height: 50px;
    }
  }
}

// Style for Tab & Table (receipt form)
.MuiTab-root {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;

  &.Mui-selected {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }
}

// .MuiCollapse-root {
//   &.receipt-collapse {
//     margin-top: 0;
//   }
// }

.receipt-collapse {
  .MuiCollapse-wrapper {
    padding-top: 0;
  }
}
