// #region Color
$color-primary: #147db8;

$color-text: #212529;
$color-checkbox: #3b85fe;
$color-green: #11b785;
$color-red: #b72511;
$color-tagColor: #c4d9e4;
$color-forgotpass: #1a73e8;

$color-light-gray: rgba(51, 51, 51, 0.05);
$color-gray: #d7d7d7;

// #endregion Color

// #height header
$header-height: 82px;
// #endheight header

// #region Font
$fs-normal: 16px;
$fs-lg: 20px;
$fs-xl: 32px;
// #endregion Font

// #region Breakpoint
$breakpoint-xs: 0;
$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1536px;
$breakpoint-xxl: 1920px;
// #endregion Breakpoint
