// #region Color
$color-primary: #147db8;

$color-text: #212529;
$color-select: #1E1918;
$color-hover-green: #DFE5E4;
$color-light-blue: #00D1FF;

// Info
$color-success: #009278;
$color-info: #0157BC;
$color-error: #BC0101;
$color-warning: #FBB500;
$color-primary-tint: #EDF6FB;
$color-error-disabled: #EFD9D9;
$color-primary-disabled: #B9D8EA;
$color-warning-disabled: #FEE9B3;
$color-background: #F1F1F1;

// Netural
$color-white: #FFFFFF;
$color-light-gray: #BCBFC5;
$color-mid-gray: #A2A7B2;
$color-dark-gray: #878B94;
$color-black: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #000000;;

// #endregion Color
$color-checkbox: #3b85fe;
$color-green: #11b785;
$color-red: #b72511;
$color-tagColor: #c4d9e4;
$color-forgotpass: #1a73e8;
$color-gray: #d7d7d7;

// #endregion Color

// #height header
$header-height: 82px;
// #endheight header

// #region Font
$fs-normal: 16px;
$fs-lg: 20px;
$fs-xl: 32px;
// #endregion Font

// #region Breakpoint
$breakpoint-xs: 0;
$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1536px;
$breakpoint-xxl: 1920px;
// #endregion Breakpoint
