header {
  height: 80px;

  @include xs {
    .main-nav {
      display: none;
    }
    .sub-nav {
      display: flex;
    }
  }
  @include lg {
    .main-nav {
      display: flex;
    }
    .sub-nav {
      display: none;
    }
  }

  &.MuiPaper-root {
    background-color: $color-primary;

    justify-content: center;
  }

  .logo {
    height: 100%;

    max-height: 50px;
  }

  .MuiToolbar-root {
    justify-content: space-between;
  }

  .nav {
    gap: 40px;

    .nav-items {
      background-color: transparent;

      &:hover {
        background-color: transparent;
      }
    }
  }
}

// header
.header {

  &__search {
    display: flex;
    justify-content: flex-start;
    border: 1px solid $color-white;
    border-radius: 4px;

    &__input {

      .MuiInputBase-input {
        width: 258px;
        height: 38px;
        box-sizing: border-box;
      }
    }

    #header &__button {
      min-width: unset;
      padding: 0 9px;
      border-radius: 0px 4px 4px 0px;
      background-color: $color-primary;
    }
  }

  &__info {
    display: flex;

    &__noti {
      display: flex;
      align-items: center;
      
      .MuiButtonBase-root{
        color: $color-white;
      }
    }
  }
  
}
